body, html {
  height: 100%;
  background-image: url("mountain.jpg");
  margin-top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 80px;
  font-family: Lucida Handwriting;
}

h2 {
  margin-bottom: 100px;
  text-align: center;
  font-size: 50px;
}

h3 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
}

#profile_pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#about-myself{
  margin: 0 10%;
  padding: 10% 0;
  text-align: center;
  font-size: 20px;
}

.mainFrame{
  margin: 50px 27%;
  padding: 30px;
  height: 100%;
  background-color: #e0d3af;
}

.drawer{
  position: fixed;
}

#discord_link{
  color:red;
}

#content{
  text-align: center;
  font-size: 20px;
  margin: 20px;
}
